
.banner-container {
    background-color: #111;
    color: rgb(255, 255, 255);
    padding: 6px;
    border-radius: 12px;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    width: 97vw;
    margin-top: 20px;
    margin-left: 15px;

  }

  .moving-text {
    display: inline-block;
    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(100%);
      
    }
    50%{
        color: #000;
    }
       
    100% {
      transform: translateX(-100%);
    color: #000;
    }
  }
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 8px 25px;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    width: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
  
  }

  .logo {
    font-weight:550;
  }

  .top-nav a {
    text-decoration: none;
    color: #000;
  }

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    visibility: visible;
  }
  
  .dropdown-menu {
    display: none;
    visibility: hidden;
  }

  .hero-wrapper {
    width: 100vw;
    margin: 0px auto;
    padding:0;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    
  }

  .hero-content {
    position: relative;
    width: 100%;
    height: 90vh;
  }


  .hero-image {
    position: absolute;
    width: 99vw;
    height: 100%;
    object-fit: cover;
    padding: 20px;
    border-radius: 40px; 
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 5%;
    background: rgb(243, 240, 240);
    padding: 40px;
    border-radius: 12px;
    width: 380px;
  }

  .hero-text h1 {
    font-size: 30px;
    margin: 0 0 12px;
  }

  .hero-text p {
    font-size: 15px;
    color: #555;
    margin-bottom: 20px;
  }

  .cta {
    text-decoration: underline;
    color: black;
    font-weight: bold;
  }

.hotspot:hover{
  cursor: pointer;
}
  .nav-btn {
    position: absolute;
    top: 45%;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 22px;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;
  }

  .nav-btn.left {
    left: 10px;
  }

  .nav-btn.right {
    right: 10px;
  }

  .dots {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    bottom: 50px;
    z-index: 2;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    user-select: none;
  }
